/* marck-script */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Headland+One&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Grey+Qo&family=Headland+One&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Grey+Qo&family=Headland+One&family=Imperial+Script&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Great+Vibes&family=Grey+Qo&family=Headland+One&family=Imperial+Script&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Great+Vibes&family=Grechen+Fuemen&family=Grey+Qo&family=Headland+One&family=Imperial+Script&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Great+Vibes&family=Grechen+Fuemen&family=Grey+Qo&family=Headland+One&family=Imperial+Script&family=Josefin+Sans&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Great+Vibes&family=Grechen+Fuemen&family=Grey+Qo&family=Headland+One&family=Herr+Von+Muellerhoff&family=Imperial+Script&family=Josefin+Sans&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Gafata&family=Great+Vibes&family=Grechen+Fuemen&family=Grey+Qo&family=Headland+One&family=Herr+Von+Muellerhoff&family=Imperial+Script&family=Josefin+Sans&family=Marck+Script&family=Montserrat:wght@400;600;700&display=swap");

/* font */
.marck-script {
  font-family: "Marck Script", cursive;
}

.headland-one {
  font-family: "Headland One", serif;
}

.grey-qo {
  font-family: "Grey Qo", cursive;
}

.imperial-script {
  font-family: "Imperial Script", cursive;
}

.fredoka-one {
  font-family: "Fredoka", sans-serif;
}

.grechen-fuemen {
  font-family: "Grechen Fuemen", cursive;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.herr-von-muellerhoff {
  font-family: "Herr Von Muellerhoff", cursive;
}

.gafata {
  font-family: "Gafata", sans-serif;
}

/* ----------- */

/* body {
  width: 487px;
  margin: auto;
} */

/* awal */
.container {
  background-image: url("assets/img/a88cf1f9005882c2ca45c1fafcf41669\ 1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Use min-height instead of height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease;
}

.recipient {
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.container button:active {
  transform: scale(1.1);
}

.mail-icon {
  filter: brightness(100%);
}

.icon-text-container:hover .mail-icon {
  filter: brightness(50%);
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 40px;
}

.icon-text-container {
  background-color: white;
  width: 169px;
  height: 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: -500px;
}

/* 1 */
.container-1 {
  background-image: url("assets/img/cd3389126eb7a109d58c02023be5d8f7\ 1.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: translateXAnimation 0.7s ease-in-out;
}

.text-1-1 {
  flex: 1;
  margin-top: 50px;
  font-size: 42px;
  transition: transform 0.3s ease;
  animation: grow 1s;
  animation-delay: 0.6s;
}

.text-1-2 {
  flex: 1;
  font-size: 18px;
  transition: transform 0.3s ease;
  animation: grow 1s;
  animation-delay: 0.6s;
  margin-top: -20px;
}

.bride {
  flex: 8;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 96px;
  transition: transform 0.3s ease;
  margin-top: -20px;
}

.swipe-up {
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  animation-name: swipe-up;
  animation-duration: 0.8s;
  animation-iteration-count: 4;
  animation-direction: alternate-reverse;
  animation-delay: 0.6s;
}

@keyframes swipe-up {
  0% {
    margin-bottom: 70px;
  }
  50% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: 20px;
  }
}
/* ----------------- */

/* 2 */
.container-2 {
  background-image: url("assets/img/a1d41262ccffb8b78a09ed5c6941ac08\ 1.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: translateXAnimation 0.7s ease-in-out;
}

.text-2-1 {
  flex: 1;
  position: absolute;
  top: 0;
  margin-top: 80px;
  font-size: 12px;
  color: white;
  letter-spacing: 5px;
  transition: transform 0.3s ease;
}

.bride-2 {
  text-align: center;
  position: absolute;
  top: 20vh;
  flex: 3;
  font-size: 64px;
  color: white;
}

.text-2-2 {
  flex: 3;
  position: absolute;
  bottom: 2vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: large;
}

.akad {
  font-size: xx-large;
  margin-bottom: -3px;
}

.text-2-2 p {
  /* font-family: "Montserrat Medium"; */
  max-width: 18ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.text-2-2 p span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.text-2-2 p span:nth-child(1) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(2) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(3) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(4) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(5) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(6) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(7) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(8) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(9) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(10) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(11) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(12) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(13) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(14) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 p span:nth-child(15) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* .text-2-2 h1 span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 h1 span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-2-2 h1 span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
} */

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* ----------------- */

/* 3 */
.container-3 {
  /* background-image: url('assets/img/cd3389126eb7a109d58c02023be5d8f7\ 1.png'); */
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: translateXAnimation 0.7s ease-in-out;
  overflow: hidden;
}

.section-3-1 {
  flex: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  z-index: -1;
  overflow: hidden;
}

.section-3-2 {
  flex: 1;
  position: absolute;
  top: 50;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.section-3-3 {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  z-index: -1;
  overflow: hidden;
}

.resepsi {
  font-size: xx-large;
}

.text-3-1 {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
}
/* ----------------- */

/* 4 */
.bg-black {
  background-color: black;
  width: auto;
}

.container-4 {
  background-image: url("assets/img/pngwing\ 1.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-4-1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.image-container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  grid-template-rows: repeat(2, 1fr); /* Two rows of equal height */
  gap: 10px; /* Add some spacing between the images (adjust as needed) */
}

/* Style for individual images (optional) */
.image-container-4 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Preserve aspect ratio and cover the cell */
}
/* ----------------- */

/* 5 */
.container-5 {
  background-image: url("assets/img/cd3389126eb7a109d58c02023be5d8f7\ 1.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.text-5-1 {
  position: absolute;
  top: 93px;
  font-size: 32px;
  margin-left: -50px;
}

.text-5-2 {
  position: absolute;
  top: 96px;
  font-size: 36px;
  margin-right: -120px;
}

.text-5-3 {
  position: absolute;
  top: 153px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-5 {
  position: relative;
  margin-top: -20vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.payment-5:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.payment-5:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.payment-5:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.payment-5:active {
  top: 1px;
}

.text-5-4 {
  position: absolute;
  bottom: 0;
  margin-bottom: 4vh;
  font-size: 44px;
}
/* ----------------- */

/* 6 */
.box-6 {
  width: 311px;
  height: 582px;
  background-color: #e5d6c3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid black;
  border-color: black;
}

.text-6 {
  top: 48px;
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.card-6 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.logo-bank {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 12px;
}

.text-name-6 {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 12px;
}

.text-card-num-6 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 14px;
}

.rectangle-6 {
  width: 96px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
}

.rectangle-6:hover {
  transition-duration: 0.1s;
  /* background-color: #3a3a3a; */
}

.rectangle-6:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.rectangle-6:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.rectangle-6:active {
  top: 11vh;
}

.icon-copy {
  position: absolute;
  top: 52%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.text-copy {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  margin-top: -2px;
}

/* id id id id */
#groom {
  animation: grow 1s;
  animation-delay: 0.6s;
}

#bride {
  animation: grow 1s;
  animation-delay: 0.6s;
}
#dear {
  font-size: 24px;
  color: white;
}

#recipient {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

#ser-1 {
  z-index: 1;
  height: 30vh;
}

#ser-2 {
  z-index: 2;
  height: 30vh;
  margin-top: -30px;
}

/* KEYFRAMES */
@keyframes translateXAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(
      0
    ); /* Adjust the value to control the distance of translation */
  }
}

@keyframes slide {
  0% {
    translate: 100%;
  }
  100% {
    translate: 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

/* -------------- Mobile-First Responsive Build (with CSS Grid) ---------------- */

/* variables */
:root {
  --primary: white;
  --secondary: black;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #222;
  background-color: var(--primary);
}

/* mobile styles */
@media screen and (max-width: 320) {
  body {
    width: 320px; /* Set the fixed width */
    margin: 0 auto; /* Center the content horizontally */
  }
}
/* small tablet styles */
@media screen and (min-width: 620px) {
  body {
    width: 620px; /* Set the fixed width */
    margin: 0 auto; /* Center the content horizontally */
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
}

/* dekstop styles */
@media screen and (min-width: 1200px) {
}
